In [1]:
import pandas as pd
import numpy as np

In [19]:
hairstyles = ["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"]
prices = [30, 25, 40, 20, 20, 35, 50, 35]
last_week = [2, 3, 5, 8, 4, 4, 6, 2]

In [23]:
total_price = 0
total_price = sum(prices)
print(total_price)

255

In [25]:
average_price = 0
average_price = total_price / len(prices)
print('average_price is', average_price)

average_price is 31.875

In [26]:
new_price = prices
new_price = [prices-5 for prices in new_price]
print(new_price)

[25, 20, 35, 15, 15, 30, 45, 30]

In [31]:
total_revenue = 0
total_revenue = [prices[i]*last_week[i]for i in range(len(hairstyles))]
print(total_revenue)

[60, 75, 200, 160, 80, 140, 300, 70]

In [32]:
result = sum(total_revenue)
print(result)
total_revenue = result

1085

In [34]:
average_daily_revenue = total_revenue / 7
print('Average daily revenue is', average_daily_revenue)

Average daily revenue is 155.0

In [37]:
cuts_under_30 = [hairstyles[i] for i in range(len(new_price)-1) if new_price[i] < 30]
print(cuts_under_30)

['bouffant', 'pixie', 'crew', 'bowl']